
Gestão Armazém/obj/DDDNetCore.csproj.nuget.dgspec.json
Gestão Armazém/obj/DDDNetCore.csproj.nuget.g.props
Gestão Armazém/obj/Debug/netcoreapp6.0/DDDNetCore.csproj.FileListAbsolute.txt
Gestão Armazém/obj/Debug/netcoreapp6.0/DDDNetCore.GeneratedMSBuildEditorConfig.editorconfig
Gestão Armazém/obj/Debug/netcoreapp6.0/project.razor.json
Gestão Armazém/obj/project.nuget.cache
GestãoArmazénsTests/obj/Debug/net6.0/GestãoArmazénsTests.GeneratedMSBuildEditorConfig.editorconfig
GestãoArmazénsTests/obj/GestãoArmazénsTests.csproj.nuget.dgspec.json
GestãoArmazénsTests/obj/project.nuget.cache
