
GestaoArmazem/obj/DDDNetCore.csproj.nuget.dgspec.json
GestaoArmazem/obj/DDDNetCore.csproj.nuget.g.props
GestaoArmazem/obj/Debug/netcoreapp6.0/DDDNetCore.csproj.FileListAbsolute.txt
GestaoArmazem/obj/Debug/netcoreapp6.0/DDDNetCore.GeneratedMSBuildEditorConfig.editorconfig
GestaoArmazem/obj/Debug/netcoreapp6.0/project.razor.json
GestaoArmazem/obj/project.nuget.cache
GestaoArmazensTests/obj/Debug/net6.0/GestaoArmazensTests.GeneratedMSBuildEditorConfig.editorconfig
GestaoArmazensTests/obj/GestaoArmazensTests.csproj.nuget.dgspec.json
GestaoArmazensTests/obj/project.nuget.cache
GestaoArmazem/.vscode/*
GestaoArmazem/bin/*
GestaoArmazensTests/bin/*
GestaoArmazem/obj/project.assets.json
GestaoArmazem/obj/staticwebassets.pack.sentinel
GestaoArmazensTests/obj/project.assets.json
GestaoArmazensTests/obj/Debug/netcoreapp6.0/GestaoArmazensTests.pdb
GestaoArmazensTests/obj/Debug/netcoreapp6.0/GestaoArmazensTests.genruntimeconfig.cache
GestaoArmazensTests/obj/Debug/netcoreapp6.0/GestaoArmazensTests.genruntimeconfig.cache
GestaoArmazensTests/obj/Debug/netcoreapp6.0/GestaoArmazensTests.GeneratedMSBuildEditorConfig.editorconfig
GestaoArmazensTests/obj/Debug/netcoreapp6.0/GestaoArmazensTests.dll
GestaoArmazensTests/obj/Debug/netcoreapp6.0/GestaoArmazensTests.csproj.FileListAbsolute.txt
GestaoArmazensTests/obj/Debug/netcoreapp6.0/GestaoArmazensTests.csproj.CoreCompileInputs.cache
GestaoArmazensTests/obj/Debug/netcoreapp6.0/GestaoArmazensTests.csproj.AssemblyReference.cache
GestaoArmazensTests/obj/Debug/netcoreapp6.0/GestaoArmazensTests.assets.cache
GestaoArmazem/obj/project.assets.json
GestaoArmazem/obj/staticwebassets.pack.sentinel
GestaoArmazem/obj/Debug/netcoreapp6.0/DDDNetCore.genruntimeconfig.cache
GestaoArmazem/obj/Debug/netcoreapp6.0/DDDNetCore.pdb
GestaoArmazem/obj/Debug/netcoreapp6.0/ref/DDDNetCore.dll
GestaoArmazem/obj/Debug/netcoreapp6.0/refint/DDDNetCore.dll
GestaoArmazem/obj/Debug/netcoreapp6.0/apphost.exe
GestaoArmazem/obj/Debug/netcoreapp6.0/DDDNetCore.assets.cache
GestaoArmazem/obj/Debug/netcoreapp6.0/DDDNetCore.csproj.AssemblyReference.cache
GestaoArmazem/obj/Debug/netcoreapp6.0/DDDNetCore.csproj.CoreCompileInputs.cache
GestaoArmazem/obj/Debug/netcoreapp6.0/DDDNetCore.dll
